.about {
  padding: 0 30px 60px 30px;

  @media (min-width: $tablet-width) {
    padding-right: 50px;
    padding-bottom: 55px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    width: $content-width--desk;
    margin: 0 auto;
    padding-right: 200px;
    padding-bottom: 90px;
    padding-left: 175px;
  }
}

.about__title {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include h2-fontsize-lineheight;
  }

  @media (min-width: $tablet-width) {
    @include h2-fontsize-lineheight;
  }
}

.about__list {
  margin: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    column-count: 2;
  }
}

.about__list-item {
  outline: 1px dotted coral;

  padding-right: 10px;
  list-style: none;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about__list-item-svg {
  background: #000000;

  display: block;
  margin-bottom: 20px;
}

.about__list-item-text {
  font-size: $font-size--larger;
  line-height: 1.1765em;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: $font-size--x-large;
    line-height: 1.1em;
  }
}
