.card {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 53px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 316px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.card__img-wrap {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.card__img {
  display: block;
  height: 196px;
  object-fit: cover;
  font-family: "object-fit: cover;"; /* stylelint-disable-line */
  object-position: top center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    height: 462px;
  }
}

.card__body {
  padding: 26px 30px;
  padding-bottom: 10px;
  border: 1px solid $gray-base;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 2;
    width: 100%;
  }

  @include box-shadow-card;
}

.card__title-link {
  display: inline-block;
  color: #000000;
  cursor: pointer;
}

.card__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    @include h3-fontsize-lineheight;
  }
}

.card__descr {
  margin-bottom: 30px;
  font-size: $font-size--smaller;
  line-height: $line-height-auto;

  @media (min-width: $tablet-width) {
    font-size: $font-size;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.card__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $gray-base;
}

.card__price {
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: $font-size--larger;
  }
}

.card__buy {
  display: flex;
  width: auto;
  height: auto;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;

  border: none;

  &:hover,
  &:focus,
  &:active {
    background: transparent;
  }

  &:hover svg,
  &:focus svg {
    fill: $link-color--hover;
  }

  &:active svg {
    fill: $link-color--down;
  }

  & svg {
    margin: auto;
    fill: $gray--darken;
  }
}
