.catalog {
  //background: #c3e8e1;

  margin: 0;
  padding: 30px 30px 60px 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px 50px 50px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    width: $content-width--desk;
    margin: 0 auto;
    padding: 130px 0 50px 0;
  }
}

.catalog__item {
  padding-left: 0;
  list-style: none;
}
