.contact {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: $content-width--desk;
    margin: 0 auto;
    margin-bottom: 105px;
    padding-top: 0;
    padding-right: 550px;
    padding-left: 175px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: -15px;
      right: 55px;
      width: 47px;
      height: 81px;
      background-image: url("../img/vector/icon-flag.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      top: -10px;
      right: auto;
      left: 60px;
    }
  }
}

.contact__title {
  margin-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: $font-size--large;
  line-height: 1.66667em;

  @media (min-width: $tablet-width) {
    @include h2-fontsize-lineheight;
    margin-bottom: 48px;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    @include h2-fontsize-lineheight;
    padding: 0;
  }
}

.contact__list {
  margin: 0;
  padding-right: 30px;
  padding-bottom: 38px;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 50px;
    padding-bottom: 55px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    padding: 0;
  }
}

.contact__list-item {
  display: flex;
  list-style: none;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 332px;
  }
}

.contact__name {
  margin-right: 30px;
  line-height: 1.95em;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
    font-size: $font-size--larger;
    line-height: 1.8em;
  }
}

.contacts__link {
  position: relative;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: $font-size--larger;
    line-height: 1.765em;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $link-bg;
  }

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  &:active {
    color: $link-color--down;
  }

  &:hover::after {
    background: $link-bg-2--hover;
  }

  &:active::after {
    color: $link-color--down;
  }
}

.contact__btn-wrap {
  padding-right: 30px;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.contact__btn {
  @media (min-width: $tablet-width) {
    width: auto;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
