.copyright-link {
  outline: 1px dotted coral;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright-link__text {
  margin-right: 30px;
}

.copyright-link__logo {
  background: #000000;
}
