.copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 7px;
    padding: 0;
  }
}

.copyright-link__text {
  margin-right: 30px;
  font-size: $font-size--large + 1px;
  line-height: 1em;
  font-weight: 700;
  color: #000000;
}

.copyright-link__logo {
  fill: $color-main;

  &:hover,
  &:focus {
    fill: $link-color--hover;
  }

  &:active {
    fill: $link-color--down;
  }
}
