.field-text {
  @media (min-width: $tablet-width) {
    outline: 1px dotted blue;

    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 165px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 175px;
    padding-left: 175px;
  }
}

.field-text__name {
  display: block;
  font-size: $font-size--larger;
  line-height: 1em;
  font-weight: 700;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
    font-size: $font-size--large + 1px;
    font-weight: 700;
  }
}

.field-text__input-wrap {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &:hover .field-text__input,
  &:focus .field-text__input,
  &:active .field-text__input {
    border-bottom: 2px solid $color-main;
    outline: none;
  }

  &:hover .field-text__icon,
  &:focus .field-text__icon,
  &:active .field-text__icon {
    fill: $color-main;
  }
}

.field-text__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: $font-size--larger;
  line-height: 1em;
  color: $text-color;
  border: none;
  border-bottom: 2px solid #000000;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: $font-size--large + 1px;
  }

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &--icon {
    padding-right: 40px;
  }

  &--textarea {
    display: block;
    padding: 17px;
    border: 2px solid $text-color;

    &:hover {
      border-color: $color-main;
    }

    &:focus {
      border-color: $color-main;
    }
  }
}

.field-text__icon {
  background: coral;

  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  fill: $gray--darken;
}
