.field-checkbox {
  outline: 1px dotted coral;

  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 0;
    padding-left: 165px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
    padding-left: 175px;
  }
}

.field-checkbox__input-wrap {
  margin-bottom: 30px;
  list-style: none;

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:nth-last-child(2) {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

/*===стилизация чек-бокс===*/
.field-checkbox__input {
  /*прячем стандартный чек-бокс без потери доступности*/
  position: absolute;
  opacity: 0;
}

.field-checkbox__label {
  /*подготовка места для кастом-чек-бокса = стилизация label*/
  position: relative;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 60px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 245px;
  }
}

.field-checkbox__name-text::before {
  /*стилизация фона checkbox*/
  content: "";
  width: 40px;
  height: 40px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  border: 2px solid $text-color;
  background: transparent;
}

.field-checkbox__name-text:hover::before {
  border-color: $color-main;
}

.field-checkbox__name-text:active::before {
  border-color: $gray--darker;
}

/*переключение состояния чек-бокса*/
.field-checkbox__input:checked ~ .field-checkbox__name-text::after {
  /*стилизация активного чек-бокса*/
  content: "";
  width: 22px;
  height: 16px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9px;

  background: url("../img/vector/icon-tick.svg") no-repeat center;
  background-size: contain;
}

/*делаем чек-бокс доступным с клавиатуры*/
.field-checkbox__input:focus ~ .field-checkbox__name-text::before {
  border-color: $color-main;
}

/*==================*/

.field-checkbox__name-text {
  font-size: $font-size--larger;
  line-height: 1em;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: $font-size--large + 1px;
    font-weight: 700;
  }
}
