.field-radio-modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;
}

.field-radio-modal__input-wrap {
  list-style: none;
}

/*===стилизация radio===*/
.field-radio-modal__input {
  /*прячем стандартный radio без потери доступности*/
  position: absolute;
  opacity: 0;
}

.field-radio-modal__label {
  /*подготовка места для кастом-radio = стилизация label*/
  position: relative;
  display: block;
  cursor: pointer;
}

.field-radio-modal__name-text {
  /*стилизация фона radio*/
  display: flex;
  width: 82px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border: 2px solid #444444;

  @media (min-width: $tablet-width) {
    width: 112px;
  }
}

/*переключение состояния radio*/
.field-radio-modal__input:checked ~ .field-radio-modal__name-text {
  border: 2px solid green;
}
