.field-checkbox {
  outline: 1px dotted coral;

  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 0;
    padding-left: 165px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
    padding-left: 175px;
  }
}

.field-checkbox__input-wrap {
  margin-bottom: 30px;
  list-style: none;

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:nth-last-child(2) {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

/*===стилизация чек-бокс===*/
.field-checkbox__input {
  /*прячем стандартный чек-бокс без потери доступности*/
  position: absolute;
  opacity: 0;
}

.field-checkbox__label {
  /*подготовка места для кастом-чек-бокса = стилизация label*/
  position: relative;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 60px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 245px;
  }
}

.field-checkbox__name-text::before {
  /*стилизация фона checkbox*/
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid red;
  background: transparent;

  position: absolute;
  top: 0;
  left: 0;
}

.field-checkbox__name-text {
  line-height: 1em;
}

.field-checkbox__name-text:hover::before {
  border-color: coral;
}

.field-checkbox__name-text:active::before {
  border-color: yellow;
}

/*переключение состояния чек-бокса*/
.field-checkbox__input:checked ~ .field-checkbox__name-text::after {
  /*стилизация активного чек-бокса*/
  content: "";
  width: 22px;
  height: 16px;
  //background: url("../img/icon-yes-pink.svg") no-repeat center;

  position: absolute;
  top: 3px;
  left: 3px;
}

/*делаем чек-бокс доступным с клавиатуры*/
.field-checkbox__input:focus ~ .field-checkbox__name-text::before {
  border-color: coral;
}
