.field-radio {
  outline: 1px dotted coral;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    padding-left: 165px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 175px;
    padding-left: 175px;
  }
}

.field-radio__input-wrap {
  margin-bottom: 20px;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

/*===стилизация radio===*/
.field-radio__input {
  /*прячем стандартный radio без потери доступности*/
  position: absolute;
  opacity: 0;
}

.field-radio__label {
  /*подготовка места для кастом-radio = стилизация label*/
  position: relative;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 60px;
  cursor: pointer;
}

.field-radio__name-text::before {
  /*стилизация фона radio*/
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid red;
  border-radius: 20px;
  background: transparent;

  position: absolute;
  top: 0;
  left: 0;
}

.field-radio__name-text:hover::before {
  border-color: coral;
}

.field-radio__name-text:active::before {
  border-color: yellow;
}

/*переключение состояния radio*/
.field-radio__input:checked ~ .field-radio__name-text::after {
  /*стилизация активного radio*/
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: green;
  position: absolute;
  top: 11px;
  left: 11px;
}

/*делаем radio доступным с клавиатуры*/
.field-radio__input:focus ~ .field-radio__name-text::before {
  border-color: coral;
}
