.field-actions {
  margin-top: -5px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 0;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    width: $content-width--desk;
    margin: 0 auto;
    padding-right: 175px;
    padding-left: 175px;
  }
}

.field-actions__help-text {
  display: block;
  margin-bottom: 30px;
  font-size: $font-size - 1px;
  line-height: $line-height-auto;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 0;
    font-size: $font-size--larger;
    line-height: $line-height;
  }
}

.field-actions__btn {
  @media (min-width: $tablet-width) {
    width: auto;
    padding: 14px 30px;
  }
}

.field-actions__modal {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
