.form__fieldset-wrap {
  @media (min-width: $tablet-width) {
    background: #cccccc;
  }
}

.form__fieldset {
  outline: 3px dotted red;

  margin-bottom: 30px;
  border: none;
  border-top: 1px solid red;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 0;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;

    border-top: none;
  }

  @media (min-width: $desktop-width) {
    width: $content-width--desk;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }

  &--first {
    @media (min-width: $tablet-width) {
      z-index: 1;
      padding-bottom: 12px;
    }
  }

  &--last {
    @media (min-width: $tablet-width) {
      margin-top: -35px;
    }
  }
}

.form__fieldset-wrapdesk {
  @media (min-width: $desktop-width) {
    width: $content-width--desk;
    margin: 0 auto;
    padding-right: 175px;
    padding-left: 65px;
  }
}

.form__legend {
  margin-bottom: 20px;
  padding-right: 25px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 65px;
    margin-bottom: 0;
    padding-right: 0;
  }
}
