.logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex; /*для позиционирования svg внутри <a>*/
  }

  & svg {
    margin: auto; /*для позиционирования svg внутри <a>*/
  }
}
