.main-nav__list {
  margin: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__item {
  position: relative; //для позиционирования icon-*.svg
  list-style: none;
  border-bottom: 1px solid $gray--dark;

  &--1 {
    padding-top: 22px;
    padding-bottom: 22px;

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      width: 48.178%;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 50px;
    }

    @media (min-width: $desktop-width) {
      order: 2;
      flex-grow: 2;
      width: auto;
      padding: 0;
    }
  }

  &--2 {
    @media (min-width: $tablet-width) {
      order: 3;
      display: flex;
      width: 26.0417%;
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      order: 0;
      width: 185px;
      border-bottom: 1px solid $gray--dark;

      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 1000px;
        transform: translateX(-100%);
        height: 1px;
        background-color: $gray--dark;
      }
    }
  }

  &--3 {
    @media (min-width: $tablet-width) {
      order: 4;
      display: flex;
      width: 22.2656%;
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      order: 1;
      width: 234px;
      border-bottom: 1px solid $gray--dark;
    }
  }

  &--4 {
    @media (min-width: $tablet-width) {
      order: 1;
      display: flex;
      width: 10.9375%;
    }

    @media (min-width: $desktop-width) {
      order: 3;
      width: 84px;
    }
  }

  &--5 {
    @media (min-width: $tablet-width) {
      order: 2;
      display: flex;
      width: 40.8854%;
    }

    @media (min-width: $desktop-width) {
      order: 4;
      position: relative;
      width: 315px;

      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 1000px;
        transform: translateX(100%);
        height: 1px;
        background-color: $gray--dark;
      }
    }
  }

  &--6 {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
      order: 5;
      width: 185px;
      border-bottom: none;
    }
  }

  &--7 {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
      order: 6;
      width: 234px;
      border-bottom: none;
    }
  }

  &--8 {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: flex-end;
      order: 6;
      width: 51.69271%;
      padding: 25px 50px 25px 17px;
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      order: 7;
      flex-grow: 2;
    }
  }
}

.main-nav__link {
  display: block;
  width: 100%;
  padding: 32px 9.375% 32px 23.75%;

  font-size: $font-size--larger;
  font-weight: 700;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: $font-size;
  }

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover .main-nav__logo,
  &:focus .main-nav__logo {
    fill: $gray--darkest;
  }

  &:active .main-nav__logo {
    fill: $gray--darkenest;
  }

  &:hover .main-nav__link-icon {
    fill: $color-main;
  }

  &:focus .main-nav__link-icon {
    fill: $color-main;
  }

  &:active .main-nav__link-icon {
    fill: rgba(99, 209, 187, 0.3);
  }

  &--logo-header {
    display: flex;
    align-items: center;
    width: 86px;
    height: 35px;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.3);

    @media (min-width: $tablet-width) {
      margin: 0;
      width: 113px;
      height: 46px;
    }

    @media (min-width: $desktop-width) {
      width: 149px;
      height: 72px;
    }
  }

  &--2 {
    @media (min-width: $tablet-width) {
      padding: 25px 17px 25px 50px;
    }

    @media (min-width: $desktop-width) {
      padding: 36px 17px 36px 0;
      font-size: $font-size--larger;
    }
  }

  &--3 {
    @media (min-width: $tablet-width) {
      padding: 25px 17px;
    }

    @media (min-width: $desktop-width) {
      padding: 36px 17px 36px 35px;
      font-size: $font-size--larger;
    }
  }

  &--4 {
    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border-right: 1px solid $gray--dark;
      border-left: 1px solid $gray--dark;
    }
  }

  &--5 {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      padding-left: 82px;
      padding-right: 50px;
    }

    @media (min-width: $desktop-width) {
      padding: 36px 35px 36px 50px;
    }
  }

  &--6 {
    @media (min-width: $desktop-width) {
      padding: 25px 17px 25px 0;
    }
  }

  &--7 {
    @media (min-width: $desktop-width) {
      padding: 25px 17px 25px 35px;
    }
  }
}

.main-nav__logo {
  display: block;
  fill: #000000;

  &--mob {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tab {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desk {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.main-nav__link-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  fill: rgba(210, 210, 210, 0.3);
  background-color: coral;

  &--search {
    @media (min-width: $tablet-width) {
      position: static;
      transform: none;
    }
  }
}

.main-nav__link-text {
  @media (min-width: $tablet-width) {
    font-size: $font-size--larger;
  }

  &--visually-hidden {
    @media (min-width: $tablet-width) {
      position: absolute;

      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;

      white-space: nowrap;

      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}

.main-nav__text {
  @media (min-width: $tablet-width) {
    text-align: right;
  }
}
