.page-header {
  @media (min-width: $tablet-width) {
    margin-bottom: -75px;
  }

  @media (min-width: $desktop-width) {
    overflow-x: hidden;
  }
}

.page-header__wrap {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: $content-width--desk;
  }
}
