.product {
  position: relative;
  margin-bottom: 68px;
  padding: 30px 30px 0 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 115px;
    padding: 35px 50px 0 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative; //для задания высоты для .product__img
    width: $content-width--desk;
    margin: 0 auto;
    margin-bottom: 165px;
    padding: 35px 0 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/vector/icon-wave-line.svg");
    background-repeat: repeat-x;
    background-size: contain;

    @media (min-width: $tablet-width) {
      bottom: -67px;
      height: 17px;
    }

    @media (min-width: $desktop-width) {
      bottom: -72px;
    }
  }
}

.product__title-wrap {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-right: 25px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 2;
  }
}

.product__title {
  @media (min-width: $tablet-width) {
    @include h2-fontsize-lineheight;
  }

  @media (min-width: $desktop-width) {
    @include h2-fontsize-lineheight;
    margin-left: 175px;
  }
}

.product__subtitle {
  font-size: $font-size--larger;
  font-weight: 700;
  line-height: 1em;
  color: $color-main;

  @media (min-width: $tablet-width) {
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 37px;
    width: 100px;
  }
}

.product__subtitle-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product__wrapper {
  //нужен для задания позиционирования и ширины для .product__img
  position: relative;

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.product__inner-wrap {
  @media (min-width: $tablet-width) {
    width: 50%;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
    width: 293px;
    padding-right: 0;
  }
}

.product__descr {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: $font-size--larger;
    line-height: 1.765em;
    margin-bottom: 35px;
  }
}

.product__table {
  width: 100%;
  margin-bottom: 28px;
  line-height: 1.333em;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.product__list-key {
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 0;
  border-bottom: 1px solid darken($gray-base, 2%);

  @media (min-width: $tablet-width) {
    width: 85px;
  }
}

.product__list-value {
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 8px;
  padding-left: 10px;
  border-bottom: 1px solid darken($gray-base, 2%);
}

.product__img {
  display: block;
  margin-bottom: 25px;
  background: $gray-base;
  height: 315px;
  object-fit: cover;
  font-family: "object-fit: cover;"; /* stylelint-disable-line */
  image-rendering: crisp-edges;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    margin-bottom: 0;
  }
}

.product__price {
  margin-bottom: 25px;
  font-size: $font-size--larger;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: $font-size--x-large;
    margin-bottom: 35px;
  }
}
