.reviews {
  outline: 1px dotted red;

  position: relative;
  min-height: 200px;
  margin-bottom: 85px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 147px;
    padding: 77px 80px 50px 50px;
    background-image: url("../img/rastr/bg-reviws-tab@1x.jpg");
    background-size: 45.57% 100%;
    background-position: left center;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/rastr/bg-reviws-tab@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    width: $content-width--desk;
    margin: 0 auto;
    margin-bottom: 160px;
    padding: 80px 157px 90px 175px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/vector/icon-wave-line.svg");
    background-repeat: repeat-x;
    background-size: contain;

    @media (min-width: $tablet-width) {
      bottom: -85px;
      height: 17px;
    }

    @media (min-width: $desktop-width) {
      bottom: -72px;
    }
  }
}

.reviews__title {
  width: 270px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;

    @include h2-fontsize-lineheight;
  }

  @media (min-width: $desktop-width) {
    @include h2-fontsize-lineheight;
  }
}

.reviews__blockquote {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__info {
  margin-bottom: 30px;
  line-height: 2em;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: $font-size--larger;
    line-height: 1.7647em;
  }
}

.reviews__autor-name {
  display: block;
  margin-bottom: 5px;
  font-size: $font-size--larger;
  color: #000000;

  @media (min-width: $tablet-width) {
    display: block;
    max-width: 50%;
    font-size: $font-size--large;
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size--larger;
  }
}

.reviews__autor-email {
  font-size: $font-size--larger;
}

.reviews__btn-wrap {
  display: flex;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 45px;
    right: 45px;
    margin-bottom: 0;
  }
}

.reviews__btn-slider {
  padding-top: 14px;
  padding-bottom: 10px;
  border: 1px solid $gray-base;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }

  &:hover .reviews__btn-svg,
  &:focus .reviews__btn-svg {
    fill: $gray--darkenest;
  }

  &:active .reviews__btn-svg {
    fill: $gray--darkest;
  }
}

.reviews__btn-svg {
  fill: #000000;
}

.reviews__btn-link {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 80px;
    right: 52px;
    width: auto;
    padding-right: 37px;
    padding-left: 37px;
  }
}
