.social {
  outline: 1px dotted green;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 24px 0;
  list-style: none;
  border-bottom: 1px solid $gray--dark;

  @media (min-width: $tablet-width) {
    margin-top: 7px;
    margin-right: -80px;
    padding: 0;
    border-bottom: none;
  }
}

.social__link-wrap {
  outline: 1px dotted blue;

  &:not(:last-child) {
    margin-right: 27px;
  }
}

.social__link {
  display: block;
  padding: 5px;

  &:hover svg,
  &:focus svg {
    fill: $link-bg-2--hover;
  }

  &:active svg {
    fill-opacity: 0.3;
  }
}

.social svg {
  display: block;
  width: 22px;
  height: 22px;
  fill: #000000;
}
