.title {
  padding: 70px 30px 76px 30px;
  text-align: center;
  background-color: $gray-base;

  @media (min-width: $tablet-width) {
    @include h2-fontsize-lineheight;

    position: relative;
    margin-bottom: 70px;
    padding-top: 95px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    @include h2-fontsize-lineheight;

    padding-right: 225px;
    padding-left: 225px;
  }

  @include wave;
}
