.video {
  background: #a64ca6;

  position: relative;
  margin-bottom: 60px;
  padding-right: 30px;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;

    width: $content-width--desk;
    margin: 0 auto;
    margin-bottom: 105px;
    padding-right: 0;
    padding-left: 0;
  }
}

.video__title-wrap {
  display: flex;
  align-items: center;
  padding: 25px 40px 25px 30px;
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-left: 1px solid red;

  @media (min-width: $tablet-width) {
    padding: 40px 40px 0 40px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 365px;
    padding: 45px 60px 0 80px;
  }

  & > svg {
    background: #000000;

    flex-shrink: 0;
    margin-right: 25px;
  }
}

.video__title {
  border: 1px solid coral;
}

.video__img-wrap {
  position: relative;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 680px;
    height: 100%;
  }
}

.video__btn {
  outline: 1px dotted yellow;

  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  padding: 0;
  border: none;
  cursor: pointer;

  & > svg {
    background: #000000;

    margin: auto;
  }
}

.video__img {
  display: block;
  height: auto;
  object-fit: cover;

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.video__body {
  background: pink;

  padding: 30px;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;

  @media (min-width: $tablet-width) {
    padding: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 365px;
    padding: 45px 60px 60px 80px;
  }
}

.video__descr {
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}
