.video {
  //background: #a64ca6;

  position: relative;
  margin-bottom: 60px;
  padding-right: 30px;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;

    width: $content-width--desk;
    margin: 0 auto;
    margin-bottom: 105px;
    padding-right: 0;
    padding-left: 0;

    @include box-shadow-card;
  }
}

.video__title-wrap {
  display: flex;
  align-items: center;
  padding: 25px 40px 25px 30px;
  border-top: 1px solid $gray-base;
  border-right: 1px solid $gray-base;
  border-left: 1px solid $gray-base;

  @media (min-width: $tablet-width) {
    padding: 40px 40px 0 40px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 370px;
    padding: 45px 60px 0 80px;
  }

  & > svg {
    background: coral;

    flex-shrink: 0;
    margin-right: 25px;
  }
}

.video__title {
  border: 1px dotted coral;

  @media (min-width: $tablet-width) {
    @include h3-fontsize-lineheight;
  }
}

.video__wrap {
  outline: 1px solid red;

  position: relative;
  background-color: $gray-base;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 680px;
    height: 100%;
  }
}

.video__btn {
  outline: 1px dotted red;

  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  padding: 0;
  border: none;
  cursor: pointer;

  & > svg {
    margin: auto;
    $width: 101px; // переменная, чтобы можно было увеличить ширину на 20%
    $height: 77px; // переменная, чтобы можно было увеличить ширину на 20%

    &:hover,
    &:focus {
      width: $width * 1.2;
      height: $height * 1.2;
      transition: 0.15s;
    }

    &:active {
      width: $width * 0.8;
      height: $height * 0.8;
      transition: 0s;
    }
  }
}

.video__body {
  //background: pink;

  padding: 30px;
  border-right: 1px solid $gray-base;
  border-bottom: 1px solid $gray-base;
  border-left: 1px solid $gray-base;

  @media (min-width: $tablet-width) {
    padding: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
    padding: 45px 60px 60px 80px;
    border-left: none;
  }
}

.video__descr {
  margin-bottom: 25px;
  font-size: $font-size--smaller;

  @media (min-width: $tablet-width) {
    font-size: $font-size;
    line-height: 2em;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}
