//=============================
/*Typography*/
/*Font, line-height, headings.*/
//=============================
$font-family: "Open Sans", "Arial", sans-serif;

$font-size-h1: 27px;
$font-size-h2: 25px;
$font-size-h3: 17px;
//$font-size-h4: px;
//$font-size-h5: px;
//$font-size-h6: px;

//$font-size--xl-large: px;
$font-size--x-large: 20px;
$font-size--large: 18px;
$font-size--larger: 17px;
$font-size: 15px;
$font-size--smaller: 13px;
//$font-size--small: px;

$line-height: 1.6em;
$line-height-auto: 1.2em;

$line-height--h1: 1.1111em;
$line-height--h2: 1.2em;
$line-height--h3: 1.4118em;

//================
/*Gray and brand colors*/
//================

//$color-main--lightest: ;
//$color-main--lighten: ;
//$color-main--light: ;
$color-main: #63d1bb; //99-20-187
$color-main--dark: #56c3b2; //86-195-178
$color-main--darken: #35a999; //53-169-153
$color-main--darkest: #149080; //20-144-128

//$color-second--lightest: ;
//$color-second--lighten: ;
//$color-second--light: ;
//$color-second: ;
//$color-second--dark: ;
//$color-second--darken: ;
//$color-main--darkest: ;

// $gray--lightest: ;
//$gray--lighten: ;
$gray--light: #f9f9f9; //249
$gray-base: #f1f1f1; //241
$gray--dark: #e5e5e5; //230
$gray--darken: #d3d2d2; //210
$gray--darker: #c7c7c7; //199
$gray--darkenest: #b2b2b2; //178
$gray--darkest: #666666; //102

$text-color: #444444; // Global text color on <body>;

//=============================
//===Components===
//=============================
$content-width--desk: 1050px;

//$padding-base-vertical:;
//$padding-base-horizontal: ;

//$border-radius-base: ;

//=============================
//===Links====
//=============================
//$link-color: ;
$link-color--hover: #46c1ae;
//$link-color--focus: ;
//$link-color--active: ; //активная ссылка
$link-color--down: rgba(70, 193, 174, 0.3); //клик на ссылку

$link-bg: #63d1bb;
$link-bg--hover: #59d5bc;
//$link-bg--focus: ;
//$link-bg--active: ; //активная ссылка
//$link-bg--down: ; //клик на ссылку

$link-bg-2: #56c3b2;
$link-bg-2--hover: #46c1ae;

//=============================
//===Buttons===
//=============================

//$btn-padding-vertical--large: px;
//$btn-padding-horizontal--large: px;
$btn-padding-vertical: 15px;
$btn-padding-horizontal: 20px;
//$btn-padding-vertical--small: px;
//$btn-padding-horizontal--small: px;

//$btn-font-size: ;
//$btn-line-height: em;
//$btn-font-wight: ;

// $btn-color: ;
$btn-color--hover: #ffffff;
// $btn-color-active: ;

//$btn-border: ;

//$btn-bg: ;
$btn-bg--hover: #444444;
//$btn-bg-active: ;

//$btn-border-radius-base: ;

//$btn-border-color-base: ;

//=============================
//===Slider====
//=============================
//$slider-btn--base: ;
//$slider-btn--hover: ;
//$slider-btn--active: ;

//$slider-toggle: ;
//$slider-toggle--active: ;
//$slider-toggle--hover: ;
//$slider-toggle--down: ;

//=============================
//===Media queries breakpoints===
//=============================
$tablet-width: 768px;
$desktop-width: 1150px;

//=============================
//===Retina queries breakpoints===
//=============================
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//=============================
//===Animate===
//=============================
$transition-time--burger: 0.2s;
$transition-time--show: 0.2s;
