//=============================
/*Typography*/
/*Font, line-height, headings.*/
//=============================
$font-family: "Open Sans", "Arial", sans-serif;

$font-size-h1: 27px;
$font-size-h2: 25px;
$font-size-h3: 17px;
//$font-size-h4: px;
//$font-size-h5: px;
//$font-size-h6: px;

//$font-size--xl-large: px;
$font-size--x-large: 20px;
$font-size--large: 18px;
$font-size--larger: 17px;
$font-size: 15px;
$font-size--smaller: 13px;
//$font-size--small: px;

$line-height: 1.6em;
//$line-height-auto: 1.2em;

$line-height--h1: 1.1111em;
$line-height--h2: 1.2em;
$line-height--h3: 1.4118em;

//================
/*Gray and brand colors*/
//================

//$color-main--lightest: ;
//$color-main--lighten: ;
//$color-main--light: ;
$color-main: #63d1bb;
$color-main--dark: #56c3b2;
$color-main--darken: #149080;
//$color-main--darkest: ;

//$color-second--lightest: ;
//$color-second--lighten: ;
//$color-second--light: ;
//$color-second: ;
//$color-second--dark: ;
//$color-second--darken: ;
//$color-main--darkest: ;

// $gray--lightest: ;
//$gray--lighten: ;
//$gray--light: ;
$gray-base: #f1f1f1; //241
$gray--dark: #e5e5e5; //230
$gray--darken: #d3d2d2; //210
//$gray--darker: ;
//$gray--darkenest: ;
//$gray--darkest: ;

$text-color: #444444; // Global text color on <body>;

//=============================
//===Components===
//=============================
$content-width--desk: 1050px;

//$padding-base-vertical:;
//$padding-base-horizontal: ;

//$border-radius-base: ;

//=============================
//===Links====
//=============================
//$link-color: ;
//$link-color--active: ;
//$link-color--hover: ;
//$link-color--down: ;

//=============================
//===Buttons===
//=============================

//$btn-padding-vertical--large: px;
//$btn-padding-horizontal--large: px;
$btn-padding-vertical: 20px;
$btn-padding-horizontal: 20px;
//$btn-padding-vertical--small: px;
//$btn-padding-horizontal--small: px;

//$btn-font-size: ;
//$btn-line-height: em;
//$btn-font-wight: ;

// $btn-color: ;
// $btn-color-hover: ;
// $btn-color-active: ;

//$btn-border: ;

//$btn-bg: ;
//$btn-bg-hover: ;
//$btn-bg-active: ;

//$btn-border-radius-base: ;

//$btn-border-color-base: ;

//=============================
//===Slider====
//=============================
//$slider-btn--base: ;
//$slider-btn--hover: ;
//$slider-btn--active: ;

//$slider-toggle: ;
//$slider-toggle--active: ;
//$slider-toggle--hover: ;
//$slider-toggle--down: ;

//=============================
//===Media queries breakpoints===
//=============================
$tablet-width: 768px;
$desktop-width: 1150px;

//=============================
//===Retina queries breakpoints===
//=============================
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;

//=============================
//===Animate===
//=============================
$transition-time--burger: 0.2s;
$transition-time--show: 0.2s;
